<head>
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<!-- search bar & create -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">

      <div class="d-flex justify-content-between mb-2">
        <h4>尋找餐廳：</h4>
        <a href="/restaurants/create_new">
          <button type="button" class="btn btn-success">新增清單
            <i class="fa-solid fa-store"></i></button>
        </a>
      </div>
      <form action="/search">
        <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-2">
          <div class="input-group">
            <input
              type="text"
              name="keyword"
              class="form-control"
              placeholder="輸入餐廳、分類"
              aria-label="Restaurant Name..."
              value="{{keywords}}"
              aria-describedby="search-button"
            />
            <button class="btn btn-major mr-1" type="submit" id="search-button">
              <i class="fas fa-search"></i>
            </button>
            <select
              class="form-select rounded border border-light"
              id="sort"
              name="sort"
              onchange="this.form.submit()"
              aria-label="Default select example"
            >
              <option> 請選擇排序方式 </option>
              <option value="1">A->Z</option>
              <option value="2">Z->A</option>
              <option value="3">類別</option>
              <option value="4">地區</option>
              <option value="5">評價高->低</option>
              <option value="6">評價低->高</option>
            </select>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}

          <div class="card mb-3">
            <a href="/restaurants/{{this._id}}">
              <img
                class="card-img-top"
                src="{{this.image}}"
                alt="{{this.name}}"
              />
            </a>
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i>
                {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>

            </div>
            <div class="card-footer d-flex justify-content-end flex-wrap">
              {{! 注意是 "_id" }}
              <a href="/restaurants/{{this._id}}/edit"><button
                  class="btn btn-success btn-sm mr-1"
                >Edit</button></a>
              <a href="/restaurants/{{this._id}}"><button
                  class="btn btn-info btn-sm mr-1"
                >Detail</button></a>
              <form
                action="/restaurants/{{this._id}}?_method=delete"
                method="POST"
              >
                <button
                  type="submit"
                  class="btn btn-danger btn-sm text-white"
                >Delete</button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>